// MENUBAR HEIGHT
$menubar-height: 26px;

// COLORS
$primary-color: #3584e4;
$dprimary-color: #185fb4;
$dgrey-color: #757778;
$mgrey-color: #b5b5b6;
$lgrey-color: #e1dedb;
$background-color: #f6f5f4;
$disabled-color: #faf9f8;

// GRADIENTS
$button-gradient: linear-gradient(white 0, #f6f5f3 1px, #f1efee 50%, #edebe9 100%);
$disabled-gradient: linear-gradient($lgrey-color, $lgrey-color);

// MARGINS
$widget-margin: 6px;

// PATH
// Base 64 encoded string from :
// <svg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><polygon points='50 55, 100 10, 100 40, 50 85, 14 43, 29 29' fill='white'></polygon></svg>
$checkbox-path: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMTAwIDEwMCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cG9seWdvbiBwb2ludHM9JzUwIDU1LCAxMDAgMTAsIDEwMCA0MCwgNTAgODUsIDE0IDQzLCAyOSAyOScgZmlsbD0nd2hpdGUnPjwvcG9seWdvbj48L3N2Zz4=");

// Base 64 encoded string from :
// <svg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><polygon points='50 55, 100 10, 100 40, 50 85, 14 43, 29 29' fill='black'></polygon></svg>
$disabled-checkbox-path: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMTAwIDEwMCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cG9seWdvbiBwb2ludHM9JzUwIDU1LCAxMDAgMTAsIDEwMCA0MCwgNTAgODUsIDE0IDQzLCAyOSAyOScgZmlsbD0nYmxhY2snPjwvcG9seWdvbj48L3N2Zz4=");

// Base 64 encoded string from :
// <svg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><polygon points='50 60, 28 40, 72 40' fill='black'></polygon></svg>
$combo-path: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMTAwIDEwMCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cG9seWdvbiBwb2ludHM9JzUwIDYwLCAyOCA0MCwgNzIgNDAnIGZpbGw9J2JsYWNrJz48L3BvbHlnb24+PC9zdmc+");


#app {
    font-family: 'Cantarell', sans-serif;
    font-size: 14px;
    background-color: $background-color;
}

.label {
    margin: $widget-margin;
    font-size: inherit;
    font-family: inherit;
}

button {
    padding: 7px;
    margin: $widget-margin;
    border: 1px solid $mgrey-color;
    border-radius: 4px;
    background: $button-gradient;
    color: black;
    outline: 0;
    
    &.disabled {
        background: $disabled-color;
        color: lighten(black, 50%);
    }

    img {
        height: 18px;
        width: 18px;

        + span {
            margin-left: 10px;
        }
        
    }
}

.progressbar {
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: $widget-margin;
    margin-right: $widget-margin;
    height: 4px;

    .background {
        background-color: $lgrey-color;
        border: 1px solid $mgrey-color;
        border-radius: 2px;
    }

    .foreground {
        background-color: $primary-color;
        border: 1px solid $dprimary-color;
        border-radius: 2px;
        min-width: 4px;
    }
}

.textinput {
    margin: $widget-margin;

    input {
        border: 1px solid $mgrey-color;
        border-radius: 4px; 
        margin: 0;
        padding: 7px;
        font-size: inherit;
        font-family: inherit;
        outline: 0;

        &:focus {
            border-color: $primary-color;
        }
    }

    &.disabled {
        input {
            background: $disabled-color;
            color: lighten(black, 20%);
        }
    }
}

.checkbox {
    margin: $widget-margin;

    label {
        margin-left: $widget-margin;
    }

    .checkbox-outer {
        height: 14px;
        width: 14px;
        background-color: white;
        border: 1px solid $mgrey-color;
        border-radius: 2px;

        .checkbox-inner {
            width: 14px;
            height: 14px;
            background-image: $checkbox-path;
            background-size: 14px 14px;
            visibility: hidden;
        }
    }

    &.checked {
        .checkbox-outer {
            background: $primary-color;
            border-color: $dprimary-color;

            .checkbox-inner {
                visibility: visible;
            }
        }
    }

    &.disabled {
        .checkbox-outer {
            background: $disabled-color;
        }

        label {
            color: lighten(black, 50%);
        }

        &.checked {
            .checkbox-outer {
                border-color: $mgrey-color;
    
                .checkbox-inner {
                    background-image: $disabled-checkbox-path;
                    opacity: 0.4;
                }
            }
        }
    }
}

.radio {
    margin: $widget-margin;

    label {
        margin-left: $widget-margin;
    }

    .radio-outer {
        height: 14px;
        width: 14px;
        background-color: white;
        border: 1px solid $mgrey-color;
        border-radius: 50%;

        .radio-inner {
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background-color: white;
            visibility: hidden;
        }
    }

    &.selected {
        .radio-outer {
            background: $primary-color;
            border-color: $dprimary-color;

            .radio-inner {
                visibility: visible;
            }
        }
    }

    &.disabled {
        .radio-outer {
            background: $disabled-color;
        }

        label {
            color: lighten(black, 50%);
        }

        &.selected {
            .radio-outer {
                border-color: $mgrey-color;
    
                .radio-inner {
                    background: black;
                    opacity: 0.4;
                }
            }
        }
    }
}

.combo {
    margin: $widget-margin;

    .combo-button {
        padding: 7px;
        border: 1px solid $mgrey-color;
        border-radius: 4px;
        color: black;
        outline: 0;
        background: $button-gradient;

        .combo-icon {
            margin-left: 10px;
            height: 18px;
            width: 18px;
            background-image: $combo-path;
            background-size: 18px 18px;
        }
    }

    .combo-choices {
        box-shadow: 0 0 2px lighten(black, 50%);
        
        .combo-choice {
            background-color: white;
            padding: 6px;

            &:hover {
                background-color: $primary-color;
                color: white;
            }
        }
    }

    &.opened {
        .combo-button {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &.disabled {
        .combo-button {
            background: $disabled-color;
            color: lighten(black, 50%);

            .combo-icon {
                opacity: 0.4;
            }
        }
    }
}

.range {
    margin-left: $widget-margin;
    margin-right: $widget-margin;
    height: 32px;

    .inner-range {
        background-color: white;
        
        &::-webkit-slider-runnable-track {
            height: 4px;
            background-color: $lgrey-color;
            border: 1px solid $mgrey-color;
            border-radius: 2px;
        }

        &::-webkit-slider-thumb {
            width: 18px;
            height: 18px;
            background: $button-gradient;
            border: 1px solid $mgrey-color;
            border-radius: 50%;
            margin-top: -8px;
        }

        &::-ms-track {
            margin-top: 10px;
            margin-bottom: 10px;
            height: 2px;
            background-color: $lgrey-color;
            border: 1px solid $mgrey-color;
            border-radius: 2px;
        }

        &::-ms-thumb {
            width: 16px;
            height: 16px;
            background: $button-gradient;
            border: 1px solid $mgrey-color;
            border-radius: 50%;
            margin-top: -2px;
        }
    }

    &.disabled {
        .inner-range {
            &::-webkit-slider-runnable-track {
                background: $disabled-color;
            }

            &::-webkit-slider-thumb {
                background: $disabled-color;
            }

            &::-ms-track {
                background: $disabled-color;
            }

            &::-ms-thumb {
                background: $disabled-color;
            }
        }
    }
}

.tabs {
    padding: $widget-margin;

    &.direction-vertical {
        padding: 0;
        
        .tab-titles {
            background-color: white;
            border: none;
            font-weight: normal;

            .tab-title {
                color: black;
                margin-bottom: 0;
                border: none;
                border-bottom: 1px solid $lgrey-color;

                &.selected {
                    border: none;
                    border-bottom: 1px solid $lgrey-color;
                    background-color: $primary-color;
                    color: white;
                }
            }
        }

        .tab {
            border: none;
            border-left: 1px solid $lgrey-color;
        }
    }

    .tab-titles {
        background-color: $lgrey-color;
        border: 1px solid $mgrey-color;
        border-bottom: none;
        font-weight: bold;

        .tab-title {
            margin-bottom: -1px;
            color: lighten(black, 60%);
            height: 36px;
            padding-left: 13px;
            padding-right: 13px;
            border-bottom: 1px solid $mgrey-color;
            border-top: 1px solid $lgrey-color;

            &.selected {
                color: lighten(black, 10%);
                border-bottom: 3px solid $primary-color;
                border-top: 3px solid $lgrey-color;
            }
        }
    }

    .tab {
        border: 1px solid $mgrey-color;
        border-radius: 2px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: white;
    }
}

#app {
    .menubar ~ * {
        top: $menubar-height;
    }
}

.menubar {
    height: $menubar-height;
    background-color: $background-color;
    border-bottom: 1px solid $lgrey-color;

    .menuitem {
        
        .menuitem-title {
            box-sizing: border-box;
            padding-left: 11px;
            padding-right: 11px;

            &.selected {
                color: $dprimary-color;
                border-top: 3px solid $background-color;
                border-bottom: 3px solid $primary-color;
            }
        }

        .menufunctions {
            background-color: white;
            box-shadow: 0 0 2px lighten(black, 50%);

            .menufunction {
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 11px;
                padding-right: 11px;
                width: 140px;

                .shortcut {
                    color: $dgrey-color;
                }

                &:hover {
                    background-color: $primary-color;
                    color: white;

                    .shortcut {
                        color: white;
                    }
                }

                
            }
        }
    }
}