body {
    margin: 0;

    #app {
        width: 100%;
        height: 100vh;
    }
}

#app {

    .container {
        display: flex;
        font-size: inherit;
        font-family: inherit;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}
