// COLORS
$primary-color: #3daee9;
$dgrey-color: #757778;
$mgrey-color: #b5b5b6;
$lgrey-color: #d0d2d2;
$background-color: #f3f4f4;

// GRADIENTS
$button-gradient: linear-gradient($background-color, #e8e9ea);
$disabled-gradient: linear-gradient($lgrey-color, $lgrey-color);

// MARGINS
$widget-margin: 6px;

#app {

    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    background-color: $background-color;

    .label {
        margin: $widget-margin;
        font-size: inherit;
        font-family: inherit;
    }

    .button {
        padding: 6px;
        margin: $widget-margin;
        border: 1px solid $mgrey-color;
        border-radius: 2px;
        background: $button-gradient;
        color: black;
        outline: 0;
    }

    .button.disabled {
        border-color: $mgrey-color;
        background: $disabled-gradient;
        color: $dgrey-color;
        transition: border-color 300ms, background-color 300ms, color 300ms;
    }

    .progressbar {
        margin-top: 14px;
        margin-bottom: 14px;
        margin-left: $widget-margin;
        margin-right: $widget-margin;
        height: 6px;
        background-color: $mgrey-color;
        border-radius: 3px;

        .inner-progressbar {
            background-color: $primary-color;
            height: 100%;
            border-radius: 3px;
        }
    }

    .textinput {
        margin: $widget-margin;

        input {
            border: 1px solid $mgrey-color;
            border-radius: 2px; 
            margin: 0;
            padding: 6px;
            font-size: inherit;
            font-family: inherit;
            outline: 0;

            &:focus {
                border-color: $primary-color;
            }
        }
    }

    .checkbox {
        margin: $widget-margin;

        label {
            margin-left: $widget-margin;
        }

        .checkbox-outer {
            height: 14px;
            width: 14px;
            background-color: white;
            border: 1px solid $dgrey-color;
            border-radius: 2px;

            &.checked {
                border: 1px solid $primary-color;
            }

            .checkbox-inner {
                height: 10px;
                width: 10px;
                background-color: white;
            
                &.checked {
                    background-color: $primary-color;
                }
            }
        }
    }

    .radio {
        margin: $widget-margin;

        label {
            margin-left: $widget-margin;
        }

        .radio-outer {
            height: 14px;
            width: 14px;
            background-color: white;
            border: 1px solid $dgrey-color;
            border-radius: 50%;

            &.selected {
                border: 1px solid $primary-color;
            }

            .radio-inner {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: white;

                &.selected {
                    background-color: $primary-color;
                }
            }
        }
    }

    .combo {
        margin: $widget-margin;

        .combo-button {
            padding: 6px;
            border: 1px solid $mgrey-color;
            border-radius: 2px;
            color: black;
            outline: 0;
            background: $button-gradient;

            div {
                margin-left: 10px;
                height: 18px;
                width: 18px;
            }
        }

        .combo-choices {
            border: 1px solid $mgrey-color;
            border-top: 0;

            .combo-choice {
                background-color: white;
                padding: 6px;

                &:hover {
                    background-color: $primary-color;
                    color: white;
                }
            }
        }
    }

    .range {
        margin: $widget-margin;

        .inner-range {
            -webkit-appearance: none;
            appearance: none;
            height: 6px;
            width: 100%;
            background-color: $mgrey-color;
            outline: none;
            border-radius: 3px;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 18px;
                height: 18px;
                background: white;
                border: 1px solid $dgrey-color;
                border-radius: 50%;
            }
            
            &::-moz-range-thumb {
                width: 18px;
                height: 18px;
                background: white;
                border: 1px solid $dgrey-color;
                border-radius: 50%;
            }
        }
    }

    .tabs {
        padding: $widget-margin;

        .tab-titles {

            .tab-title {
                background-color: $lgrey-color;
                padding: 4px;
                padding-left: 13px;
                padding-right: 13px;
                border-bottom: 1px solid $mgrey-color;

                &.selected {
                    background-color: $background-color;
                    border: 1px solid $mgrey-color;
                    border-bottom-color: $background-color;
                }
            }
        }

        .tab {
            border: 1px solid $mgrey-color;
            border-radius: 2px;
            border-top-left-radius: 0;
            background-color: $background-color;
        }
    }
    
    .menubar {
        height: 30px;
        background-color: $background-color;

        + * {
            top: 30px;
        }

        .menuitem {
            
            .menuitem-title {
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 11px;
                padding-right: 11px;

                &.selected {
                    color: white;
                    background-color: $primary-color;
                }
            }

            .menufunctions {
                background-color: white;
                border: 1px solid $mgrey-color;
    
                .menufunction {
                    padding-top: 6px;
                    padding-bottom: 6px;
                    padding-left: 11px;
                    padding-right: 11px;
                    width: 140px;

                    &:hover {
                        background-color: $primary-color;
                        color: white;
                    }
                }
            }
        }
    }

    .custom {
        margin: $widget-margin;
    }
}