#app.breeze {

    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;

    .label {
        margin: 6px;
        font-size: inherit;
        font-family: inherit;
    }

    .button {
        white-space: nowrap;
        padding: 6px;
        margin: 6px;
        border: 1px solid #b3b5b6;
        border-radius: 2px;
        background-color: #e8e9ea;
        box-shadow: 1px 1px 1px lightgray;
        font-size: inherit;
        font-family: inherit;
        user-select: none;
        -webkit-user-select: none;
        cursor: default;
        color: black;
        outline: 0;
    }

    .button.disabled {
        border-color: #d1d3d4;
        background-color: #e8eaeb;
        color: #a6a7a8;
        transition: border-color 300ms, background-color 300ms, color 300ms;
    }

    .progressbar {
        display: flex;
        margin-top: 14px;
        margin-bottom: 14px;
        margin-left: 6px;
        margin-right: 6px;
        height: 6px;
        background-color: #b5b5b6;
        border-radius: 3px;
        min-width: 100px; 

        .inner-progressbar {
            background-color: #3daee9;
            height: 100%;
            border-radius: 3px;
        }
    }

    h1 {
        margin: 6px;
    }

    .textinput {
        margin: 6px;

        input {
            border: 1px solid #b5b5b6;
            border-radius: 2px; 
            margin: 0;
            padding: 6px;
            width: 100%;
            box-sizing: border-box;
            font-size: inherit;
            font-family: inherit;
        }
    }

    .checkbox {
        margin: 6px;
        display: flex;
        align-items: center;

        label {
            white-space: nowrap;
            margin-left: 6px;
        }

        .checkbox-outer {
            height: 14px;
            width: 14px;
            background-color: white;
            border: 1px solid #757778;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.checked {
                border: 1px solid #3daee9;
            }

            .checkbox-inner {
                height: 10px;
                width: 10px;
                background-color: white;
            
                &.checked {
                    background-color: #3daee9;
                }
            }
        }
    }

    .radio {
        margin: 6px;
        display: flex;
        align-items: center;

        label {
            white-space: nowrap;
            margin-left: 5px;
        }

        .radio-outer {
            height: 14px;
            width: 14px;
            background-color: white;
            border: 1px solid #757778;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &.selected {
                border: 1px solid #3daee9;
            }

            .radio-inner {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: white;

                &.selected {
                    background-color: #3daee9;
                }
            }
        }
    }

    .combo {
        margin: 6px;
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: default;

        .combo-button {
            padding: 6px;
            border: 1px solid #b3b5b6;
            border-radius: 2px;
            background-color: #e8e9ea;
            box-shadow: 1px 1px 1px lightgray;
            font-size: inherit;
            font-family: inherit;
            user-select: none;
            -webkit-user-select: none;
            color: black;
            outline: 0;
            display: flex;

            div {
                margin-left: 10px;
                height: 18px;
                width: 18px;
            }
        }

        .combo-choices {
            border: 1px solid #b5b5b6;
            border-top: 0;
            position: absolute;
            z-index: 10;
            top: 100%;
            box-sizing: border-box;
            white-space: nowrap;
            min-width: 100%;

            .combo-choice {
                background-color: white;
                padding: 6px;

                &:hover {
                    background-color: #3daee9;
                    color: white;
                }
            }
        }
    }

    .range {
        margin: 6px;
        min-width: 100px;

        .inner-range {
            -webkit-appearance: none;
            appearance: none;
            height: 6px;
            width: 100%;
            background-color: #b5b5b6;
            outline: none;
            border-radius: 3px;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 18px;
                height: 18px;
                background: white;
                cursor: pointer;
                border: 1px solid #757778;
                border-radius: 50%;
            }
            
            &::-moz-range-thumb {
                width: 18px;
                height: 18px;
                background: white;
                cursor: pointer;
                border: 1px solid #757778;
                border-radius: 50%;
            }
        }
    }

    .tabs {
        padding: 6px;

        .tab-titles {
            cursor: default;
            margin-bottom: -1px;
            display: flex;

            .tab-title {
                background-color: #d0d2d2;
                padding: 4px;
                padding-left: 13px;
                padding-right: 13px;
                border: 1px solid #d0d2d2;

                &.selected {
                    background-color: white;
                    border-color: #bfc1c1;
                    border-bottom-color: white;
                }
            }
        }

        .tab {
            border: 1px solid #bfc1c1;
            border-radius: 2px;
            border-top-left-radius: 0;
            display: flex;
        }
    }
    
    .menubar {
        display: flex;
        position: relative;
        width: 100%;
        cursor: default;

        .menuitem {
            background-color: white;
            
            .menuitem-title {
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 11px;
                padding-right: 11px;

                &.selected {
                    color: white;
                    background-color: #3daee9;
                }
            }

            .menufunctions {
                background-color: white;
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 100%;
                z-index: 100;
                box-shadow: 0 0 2px gray;
    
                .menufunction {
                    padding-top: 6px;
                    padding-bottom: 6px;
                    padding-left: 11px;
                    padding-right: 11px;
                    width: 140px;
                    display: flex;
                    justify-content: space-between;

                    &:hover {
                        background-color: #3daee9;
                        color: white;
                    }
                }
            }
        }
    }
}